@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #091921;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.header {
    width: fit-content;
    color: #fff;
}

h1 {
    text-align: center;
}

.calculator {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* .calculator {
    position: relative;
    display: grid;
    
    place-items: center;
    width: fit-content;
    border: 2px solid salmon;
}

.calculator .value {
    width: 100%;
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.calculator span {
    width: 60px;
    height: 60px;
    padding: 1rem 0;
    color: gray;
    background: #0c2835;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
}
.calculator span:active {
    background: #74ff3b;
    color: #111;
}
.clear{
    grid-column: span 2;
    background-color: purple;
}
.calculator span.plus {
    grid-row: span 2;
    height: 120px;
}
.calculator span.equal {
    background: dodgerblue;
}
 */
